*, *::before, *::after{
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    width: 100%;
    background-color: #FAFAFA;
}

body::-webkit-scrollbar{
    display: none;
}

.about-me-div {
    flex-direction: column;
    max-width: 1000px;
    width: 50vw;
}

.about-me-section{
    flex-direction: column;
    align-items: center;
    margin: 1em auto;
    text-align: center;
}

.about-me-pic {
    display: block;
    background: linear-gradient(black, white);
    border-radius: 50%;
    min-width: 300px;
    min-height: 300px;
    width: 20vw;
    height: 20vw;
    margin: 2em 0;
    object-fit: cover;

}

h1 {
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
}

.home-section {
    margin-top: 3em;
}

i {
   font-size: 1.25rem;
   padding-right: 0.25em;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 1.5em;
}


.menu-dropdown {
    justify-content: center;
    text-align: center;
    padding-bottom: 1em;
}


#home-option{
    margin-bottom: 0.26em;
}


li {
    text-transform: uppercase;
}

.container {
    display: flex;
}

.close-btn {
    font-size: 1.5rem;
    font-weight: 700;
}


.bar {
    display: block;
    border: 2px solid black;
    border-radius: 20%;
    margin: 0.25em auto;
    width: 25px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger {
    cursor: pointer;
}

.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

.transition {
    transition: all 2.5s ease-in-out;
}

.nav-link {
    text-decoration: none;    
    color: black;
    transition: 0.3s ease;
}

.nav-link:hover {
    color: lightblue;
}

.post-title {
    font-size: 1.25rem;
    margin: 2em auto 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 1.5em;
}
.container a{
    text-decoration: none;
    color: black;
}

.hero-img {
    height: 50vh;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    color: white;
    display: grid;
    grid-template: auto 150px / 1em minmax(200px,700px) auto;
    grid-template-areas: 
    ". header ."
    ". details .";

    /*
    grid-template: auto 20px 70px 70px 1em/ 1em minmax(400px, 700px) 1em;

    text-shadow: 0px 0px 0.5px black; */
}

.home-text {
    margin: 0 4em;
    max-width: 970px;
}
.date {
    text-transform: uppercase;
    font-size: 0.75rem;
    margin-bottom: 0;
}



.desc, .blog-desc {
    margin-top: 0;
}

.color {
    color: #505050;
}

.title, .blog-title {
    font-size: 2rem;
    font-weight: 700;
    margin: 0.25em 0;
}

.blog-title {
    color: #141414;
    font-size: 1.25rem;
}

.hero-img div {
    align-self: end;
    padding-right: 1.5em;
    grid-area: details;
}

main {
    display: grid;
    margin: 2em 0;
    grid-template-columns: 2em auto 2em;
}
.posts {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 3em;
    margin: 0 auto;
}

.view-more-btn {
    text-align: center;
    font-weight: bold;
    padding-top: 0.5em;
    cursor: pointer;
}

.view-more-btn:hover {
    text-decoration: underline;
}

footer {
    background: #202020;
    color: #ECECEC;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
}

.footer-title {
    font-weight: bold;
    font-size: 1.25rem;
}

.home-img {
    display: block;
    margin: 2em auto;
    width: 70vw;
    max-height: 650px;
    object-fit: cover;
}
footer p {
    margin: 0 auto;
}
.blog-image {
    min-height: 250px;
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 0.5%;
}

@media (min-width: 768px){
    .title {
        font-size: 2.5rem;
    }

    .about-me-section {
        flex-direction: row;
        justify-content: center;
    }

    .about-me-pic {
        width: 10vw;
        height: 10vw;
        display: inline;
        margin: 5em;
    }

    .date {
        font-size: 1rem;
    }

    .desc {
        font-size: 1.25rem;
    }

    .blog-title {
        font-size: 1.35rem;
    }

    .hamburger {
        display: none;
    }

    .nav-menu {
        display: flex;
    }

    footer {
        padding: 1.35em 0;
    }

    .blog-image {
        min-height: 300px;
    }

    .about-me {
        text-align: left;
        display: inline;
    }

    .posts {
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    }

    .home-text {
        max-width: 1200px;
        margin: 2.5em auto;
        padding: 0 4em;
    }

}

@media (max-width: 767px) {
    .nav-menu{
        position: absolute;
        top: -100%;
        left: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.5s;
        padding-bottom: 0.35em;
        background-color: #FAFAFA;
    }


    .nav-menu.active {
        top: 70px;
    }

}
